/*
//  wds.css
//  WaveDAQ CSS File
//
//  Created by Stefan Ritt on 5/8/15.
*/

body {
   margin: 0px;
   color: black;
   background-color: white;
   font-family: verdana,tahoma,sans-serif;
}

/* standard link colors and decorations */
a:link { color:#0000FF; text-decoration:none }
a:visited { color:#800080; text-decoration:none }
a:hover { color:#0000FF; text-decoration:underline }
a:active { color:#0000FF; text-decoration:underline }
a:focus { color:#0000FF; text-decoration:underline }

#scope {
   float: left;
   background-color: white;
}

button {
   font-size: 20px;
   padding: 5px;
   border: 2px solid #C0C0C0;
   border-radius: 10px;
   background-color: #E0E0E0;
}

.controls {
   display: inline-block;
   height: 500px;
   background-color: white;
   text-align: center;
   padding: 3px;
}

.centered {
   margin: auto;
}

.colorButton {
   font-size: 25px;
   width: 40px;
   height: 40px;
   border-radius: 5px;
   padding: 0;
}

.startButton {
   width: 87px;
}

#UScale {
   padding: 5px;
}